nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
}

nav ul{
    background-color: #b4b4b4;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    margin: 0 20px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}