header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 50px;
}

nav ul {
  background-color: #b4b4b4;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  margin: 0 20px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

h1 {
  margin-left: 60px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
}

.contents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  min-height: 100vh;
}

body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  margin: 20px;
  flex: 1;
}

footer {
  background-color: #b4b4b4;
  text-align: center;
  padding: 10px;
  width: 100%;
}