nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 70px;
  background-color: #b4b4b4;
}

nav ul {
  flex-direction: row;
  align-items: center;
}

li {
  list-style: none;
}

@media (min-width: 721px) {

  nav ul {
    padding: 10px;
    display: flex;
  }

  li {
    margin: 0 20px;
  }
}

@media (max-width: 720px) {
  nav ul {
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }

  li {
    margin: 0 5px;
    font-size: 14px;
  }
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 720px) {
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

  .borderless-card {
    border: 1px solid #cccccc00;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
  }

  .contents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
  }

  .contents-grid-large {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
  }
}

.contents-columns {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

@media (min-width: 721px) {
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }

  .borderless-card {
    border: 1px solid #cccccc00;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
  }

  .contents-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .contents-grid-large {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  margin-top: 70px;
  padding: 20px;
  flex: 1;
}

footer {
  background-color: #b4b4b4;
  text-align: center;
  padding: 10px;
  width: 100%;
}